@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

li {
    @apply font-mono text-center text-gray-300 opacity-90 font-bold
}

/** animations **/

@keyframes transitionAnimateHeader {
    0% {
        opacity: 0;
        clip-path: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
    }
    100% {
        opacity: 1;
        background-color: rgba(5, 5, 5, 0.25);
        clip-path: polygon(12% 0, 100% 0%, 88% 100%, 0% 100%);
    }
}

@keyframes transitionAnimateAllBlack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-color: rgba(5, 5, 5, 0.20);
    }
}

@keyframes transitionAnimateAllWhite {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.80);
    }
}

@keyframes transitionFadeIn {
    0% {
        opacity: 0;
    }
}

/** custom tailwind CSS **/

.body-to-white {
    @apply h-20 w-9/12 bg-gradient-to-b from-zinc-900 from-10% to-slate-200 opacity-20
}

.body-to-black {
    @apply body-to-white rotate-180
}

.body-white {
    @apply bg-white opacity-60
}

.border-header {
    @apply h-1 w-9/12 mr-40 bg-gradient-to-r from-white to-black to-85% opacity-20
}

.border-to-black {
    @apply h-2 w-9/12 bg-gradient-to-r from-white to-zinc-900 to-90% opacity-60
}

.border-to-white {
    @apply border-to-black rotate-180
}

.content-txt-div {
    @apply w-9/12
}

.txt-body-black {
    @apply text-2xl text-center p-4 w-7/12 font-quicksand font-semibold text-black
}

.txt-body-white {
    @apply text-2xl text-center p-4 w-7/12 font-quicksand font-semibold text-teal-50
}

.txt-header-black {
    @apply text-6xl text-center pt-4 font-quicksand font-semibold text-black
}

.txt-header-white {
    @apply text-6xl text-center pt-4 font-quicksand font-semibold text-teal-50
}

.txt-nav {
    @apply text-gray-300 font-mono
}

.txt-primary {
    @apply text-gray-300 font-quicksand font-semibold
}

.txt-primary-title {
    @apply text-slate-50 font-serif opacity-80 text-2xl
}

/** Other CSS **/

#aboutMeDiv, #descriptionDiv, #experienceDiv, #navbarDiv {
    animation: transitionAnimateAllBlack ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#educationDiv, #projectDiv {
    animation: transitionAnimateAllWhite ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeInElement {
    animation: transitionFadeIn ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#headerDiv {
    animation: transitionAnimateHeader ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#navSelect:not(:last-of-type) {
    margin-bottom: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;